body {
    font-family: Arial, sans-serif;
    /* padding-top: 70px; */
}

.navbar {
    margin-bottom: 0;
    background-color: rgb(202, 90, 20);
}

/* Navbar brand color */
.navbar-brand {
    color: black !important; /* White text color */
}

/* Navbar links color */
.navbar-nav .nav-link {
    color: black !important; /* White text color */
}

/* Navbar links active color */
.navbar-nav .nav-link.active {
    color: black !important; /* Blue text color for active link */
}

.navbar-nav .nav-link:hover{
    color: rgb(230, 163, 48) !important; /* Blue text color for active link */
}

/* Navbar dropdown items */
.navbar-nav .dropdown-menu{
    background-color: rgb(202, 90, 20); /* Same dark background color */
    /* border: 1px,solid, black; */
}

.navbar-nav .dropdown-item {
    color: black; /* White text color */
}

.navbar-nav .dropdown-item:hover {
    background-color: rgb(227, 157, 114); /* Darker background on hover */
    color: black; /* Keep text color white */
}

.navbar-nav .dropdown-item.active {
    background-color: rgb(202, 90, 20); /* Blue background for active dropdown item */
    color: black; /* White text color */
}

.jumbotron {
    background: url('img/coverPhoto.JPG') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron .container{
    text-align: center;
}

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron p {
    font-size: 1.5rem;
}

footer {
    background: #000000;
}

.accordion-button:not(.collapsed) {
    color: #007bff;
    background-color: #e9ecef;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    margin-top: 20px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
    z-index: 1;
}

.jumbotron .container {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
}

.img-ras {
    max-width: 80%; /* Maximum width of the image */
    max-height: 80%; /* Maximum height of the image */
    object-fit: contain; /* Scale image to fit within max dimensions while maintaining aspect ratio */
    border-radius: 0.5rem; /* Rounded corners */
    display: block; /* Ensure the image respects the dimensions */
    margin: 0 auto; /* Center the image */
}